.hero-main{
    background-image: url(../assets/home-bg-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-main::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: black;
    opacity: .7;
}

.main-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: relative;
    z-index: 2;
}

.heading-wrap{
    color:#fff;
    text-align: center;
    margin-bottom: 50px;
}

.main-head{
    font-size: 36px;
    margin-bottom: 20px;
}

.main-head span{    font-family: "Playfair Display", serif;
}

.sub-head{
    font-size: 16px;
    color:#878787;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
}

.input-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 20px;
    gap: 20px;
}

input{
    height: 60px;
    background-color: transparent;
}

.title{
    width:300px;
    border-right: 2px solid #ccc;
}

.title, .title::placeholder, .location, .location::placeholder{
    color:#000;
    font-size: 16px;
}


.location{
    width: 250px;
}

.form button{
    height: 60px;
    border: none;
    background-color: #000;
    color:#fff;
    padding: 0 20px;
    font-size: 16px;
}

