* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }
  a img {
    border: none;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  .clearfix:before,
  .clearfix:after {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .clearfix {
    zoom: 1;
  }
  * html .clearfix {
    zoom: 1;
  }
  *:first-child+html /**/ix {
    zoom: 1;
  }
  ul,
  li {
    list-style: none;
  }
  header,
  hgroup,
  nav,
  footer,
  section,
  aside,
  article {
    display: block;
  }
  :focus {
    outline: 0;
    border: 0;
  }
  input[type="submit"]:focus,
  input[type="submit"]:active {
    outline: 0;
  }
  input {
    border: none;
    outline: none;
  }
  input,
  textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: none;
    font-family: "Ubuntu", sans-serif;
    border: none;
  }
  input:invalid,
  textarea:invalid {
    box-shadow: none;
  }
  body {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    word-wrap: break-word;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #000000;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
  }
  input[type="submit"],
  input[type="Reset"] {
    -webkit-appearance: none;
  }
  img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  img[data-src] {
    opacity: 1;
  }
  
  button:focus{border: none;}
  button:hover{cursor: pointer;}
  
  .container {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Common css */
  .test-checkbox{
    height:20px;
    width:20px;
    border:1px solid #000;
  }
  
  
  
  
  